<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Book Store{% endblock %}</title>
</head>
<body>
    <header>
        <h1>Book Store</h1>
        {% comment %} <nav>
            <ul>
                <li><a href="">Home</a></li>
            </ul>
        </nav> {% endcomment %}
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <p>&copy; 2023 Book Store</p>
    </footer>
</body>
</html>